*,
*::before,
*::after {
   padding: 0;
   margin: 0;
   border: 0;
   box-sizing: border-box;
}

a {
   text-decoration: none;
}

ul,
ol,
li {
   list-style: none;
}

img {
   vertical-align: top;
}

h1,h2,h3,h4,h5,h6 {
   font-weight: inherit;
   font-size: inherit;
}

html,
body {
   height: 100%;
   line-height: 1;
   font-size: 14px;
   background-color: #333;
   font-family: Arial, Helvetica, sans-serif;
}
// ******************************************

.form {
   max-width: 550px;
   margin: 0 auto;
   color: #fff;
   padding: 30px 0;
   & * {
      outline: none;
   }
   // .form__body
   &__body {
      position: relative;
      &::after {
         content: '';
         position: absolute;
         top: 0;
         left: 0;
         width: 100%;
         height: calc(100% + 5px);
         opacity: 0;
         visibility: hidden;
         background: rgba(51, 51, 51, 0.897) url('https://www.bluechipexterminating.com/wp-content/uploads/2020/02/loading-gif-png-5.gif') 50% / 100px no-repeat;
         transition: all .3s linear 0s;
      }
   }
   &._sending .form__body::after {
      opacity: 1;
      visibility: visible;
   }
   // .form__title
   &__title {
      font-size: 40px;
      font-weight: 700;
      margin: 0 0 30px 0;
   }
   // .form__item
   &__item {
      margin: 0 0 20px 0;
   }
   // .form__label
   &__label {
      font-size: 18px;
      display: block;
      margin: 0 0 10px 0;
   }
   // .form__input
   &__input {
      height: 50px;
      padding: 0 20px;
      border-radius: 5px;
      width: 100%;
      font-size: 18px;
      transition: all .2s linear 0s;
      &:focus {
         box-shadow: 0 0 15px #7a966b;
      }
      &._error {
         box-shadow: 0 0 15px red;      
      }
   }
   textarea.form__input {
      min-height: 120px;
      resize: vertical;
      padding: 20px;
   }
   // .form__email
   &__email {}
   // .form__button
   &__button {
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      min-height: 60px;
      background-color: #7a966b;
      color: #fff;
      font-size: 18px;
      font-weight: 700;
      cursor: pointer;
      border-radius: 20px;
      box-shadow: 0 5px 0 #1d221a;
      letter-spacing: 1.5px;
      transition: all .3s linear 0s;
      position: relative;
      &:hover {
         background-color: #54684a;
      }
      &:active {
         top: 3px;
         box-shadow: 0 2px 0 #1d221a;
      }
   }
}
.options {
   padding: 10px 0 0 0;
   // .options__item
   &__item {
      margin: 0 0 10px 0;
   }
   // .options__input
   &__input {
      display: none;
      &:checked + .options__label::after {
         transform: scale(1);
      }
   }
   // .options__label
   &__label {
      display: inline-flex;
      font-size: 16px;
      line-height: 140%;
      align-items: center;
      position: relative;
      &::before {
         content: '';
         flex: 0 0 24px;
         height: 24px;
         border-radius: 50%;
         align-self: flex-start;
         background-color: #fff;
         margin: 0 10px 0 0;
      }
      &::after {
         content: '';
         position: absolute;
         top: 4px;
         left: 4px;
         width: 16px;
         height: 16px;
         border-radius: 50%;
         align-self: flex-start;
         background-color: #7a966b;
         transform: scale(0);
         transition: transform .3s ease 0s;
      }
   }
}
.file {
   // .file__item
   &__item {
      position: relative;
   }
   // .file__input
   &__input {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      opacity: 0;
      font-size: 0;
      cursor: pointer;
   }
   // .file__button
   &__button {
      display: inline-flex;
      min-height: 40px;
      border-radius: 30px;
      justify-content: center;
      align-items: center;
      background-color: #77608d;
      padding: 0 20px;
   }
   // .file__preview
   &__preview {
      display: inline-block;
      max-width: 100px;
      padding: 10px 0 0 0;
      & img {
         max-width: 100%;
      }
   }
}
.checkbox {
   &._error .checkbox__label::before {
      box-shadow: 0 0 15px red;      
   }
   // .checkbox__input
   &__input {
      display: none;
      &:checked + .checkbox__label::after {
         transform: scale(1);
      }
   }
   // .checkbox__label
   &__label {
      font-size: 16px;
      line-height: 140%;
      display: inline-flex;
      align-items: center;
      position: relative;
      cursor: pointer;
      &::before {
         content: '';
         flex: 0 0 24px;
         height: 24px;
         background-color: #fff;
         border-radius: 4px;
         align-self: flex-start;
         margin: 0 10px 0 0;
      }
      &::after {
         content: '';
         position: absolute;
         top: 4px;
         left: 4px;
         width: 16px;
         height: 16px;
         border-radius: 4px;
         align-self: flex-start;
         transform: scale(0);
         background-color: #7a966b;
         transition: transform .3s ease 0s;
      }
      & a {
         color: #7a966b;
      }
   }
}
