*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  border: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }

a {
  text-decoration: none; }

ul,
ol,
li {
  list-style: none; }

img {
  vertical-align: top; }

h1, h2, h3, h4, h5, h6 {
  font-weight: inherit;
  font-size: inherit; }

html,
body {
  height: 100%;
  line-height: 1;
  font-size: 14px;
  background-color: #333;
  font-family: Arial, Helvetica, sans-serif; }

.form {
  max-width: 550px;
  margin: 0 auto;
  color: #fff;
  padding: 30px 0; }
  .form * {
    outline: none; }
  .form__body {
    position: relative; }
    .form__body::after {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: calc(100% + 5px);
      opacity: 0;
      visibility: hidden;
      background: rgba(51, 51, 51, 0.897) url("https://www.bluechipexterminating.com/wp-content/uploads/2020/02/loading-gif-png-5.gif") 50%/100px no-repeat;
      -webkit-transition: all .3s linear 0s;
      -o-transition: all .3s linear 0s;
      transition: all .3s linear 0s; }
  .form._sending .form__body::after {
    opacity: 1;
    visibility: visible; }
  .form__title {
    font-size: 40px;
    font-weight: 700;
    margin: 0 0 30px 0; }
  .form__item {
    margin: 0 0 20px 0; }
  .form__label {
    font-size: 18px;
    display: block;
    margin: 0 0 10px 0; }
  .form__input {
    height: 50px;
    padding: 0 20px;
    border-radius: 5px;
    width: 100%;
    font-size: 18px;
    -webkit-transition: all .2s linear 0s;
    -o-transition: all .2s linear 0s;
    transition: all .2s linear 0s; }
    .form__input:focus {
      -webkit-box-shadow: 0 0 15px #7a966b;
              box-shadow: 0 0 15px #7a966b; }
    .form__input._error {
      -webkit-box-shadow: 0 0 15px red;
              box-shadow: 0 0 15px red; }
  .form textarea.form__input {
    min-height: 120px;
    resize: vertical;
    padding: 20px; }
  .form__button {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    min-height: 60px;
    background-color: #7a966b;
    color: #fff;
    font-size: 18px;
    font-weight: 700;
    cursor: pointer;
    border-radius: 20px;
    -webkit-box-shadow: 0 5px 0 #1d221a;
            box-shadow: 0 5px 0 #1d221a;
    letter-spacing: 1.5px;
    -webkit-transition: all .3s linear 0s;
    -o-transition: all .3s linear 0s;
    transition: all .3s linear 0s;
    position: relative; }
    .form__button:hover {
      background-color: #54684a; }
    .form__button:active {
      top: 3px;
      -webkit-box-shadow: 0 2px 0 #1d221a;
              box-shadow: 0 2px 0 #1d221a; }

.options {
  padding: 10px 0 0 0; }
  .options__item {
    margin: 0 0 10px 0; }
  .options__input {
    display: none; }
    .options__input:checked + .options__label::after {
      -webkit-transform: scale(1);
          -ms-transform: scale(1);
              transform: scale(1); }
  .options__label {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    font-size: 16px;
    line-height: 140%;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    position: relative; }
    .options__label::before {
      content: '';
      -webkit-box-flex: 0;
          -ms-flex: 0 0 24px;
              flex: 0 0 24px;
      height: 24px;
      border-radius: 50%;
      -ms-flex-item-align: start;
          align-self: flex-start;
      background-color: #fff;
      margin: 0 10px 0 0; }
    .options__label::after {
      content: '';
      position: absolute;
      top: 4px;
      left: 4px;
      width: 16px;
      height: 16px;
      border-radius: 50%;
      -ms-flex-item-align: start;
          align-self: flex-start;
      background-color: #7a966b;
      -webkit-transform: scale(0);
          -ms-transform: scale(0);
              transform: scale(0);
      -webkit-transition: -webkit-transform .3s ease 0s;
      transition: -webkit-transform .3s ease 0s;
      -o-transition: transform .3s ease 0s;
      transition: transform .3s ease 0s;
      transition: transform .3s ease 0s, -webkit-transform .3s ease 0s; }

.file__item {
  position: relative; }

.file__input {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  font-size: 0;
  cursor: pointer; }

.file__button {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  min-height: 40px;
  border-radius: 30px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #77608d;
  padding: 0 20px; }

.file__preview {
  display: inline-block;
  max-width: 100px;
  padding: 10px 0 0 0; }
  .file__preview img {
    max-width: 100%; }

.checkbox._error .checkbox__label::before {
  -webkit-box-shadow: 0 0 15px red;
          box-shadow: 0 0 15px red; }

.checkbox__input {
  display: none; }
  .checkbox__input:checked + .checkbox__label::after {
    -webkit-transform: scale(1);
        -ms-transform: scale(1);
            transform: scale(1); }

.checkbox__label {
  font-size: 16px;
  line-height: 140%;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  cursor: pointer; }
  .checkbox__label::before {
    content: '';
    -webkit-box-flex: 0;
        -ms-flex: 0 0 24px;
            flex: 0 0 24px;
    height: 24px;
    background-color: #fff;
    border-radius: 4px;
    -ms-flex-item-align: start;
        align-self: flex-start;
    margin: 0 10px 0 0; }
  .checkbox__label::after {
    content: '';
    position: absolute;
    top: 4px;
    left: 4px;
    width: 16px;
    height: 16px;
    border-radius: 4px;
    -ms-flex-item-align: start;
        align-self: flex-start;
    -webkit-transform: scale(0);
        -ms-transform: scale(0);
            transform: scale(0);
    background-color: #7a966b;
    -webkit-transition: -webkit-transform .3s ease 0s;
    transition: -webkit-transform .3s ease 0s;
    -o-transition: transform .3s ease 0s;
    transition: transform .3s ease 0s;
    transition: transform .3s ease 0s, -webkit-transform .3s ease 0s; }
  .checkbox__label a {
    color: #7a966b; }
